<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link href="https://unpkg.com/nes.css@latest/css/nes.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css" />
    <title>Tech Blog</title>
</head>

<body>
    <nav>
        <div class="d-flex justify-content-center py-3">
            <div class="cont-nav d-flex justify-content-between align-items-center">
                <!-- left nav -->
                <div>
                    <a id="logo" class="nes-btn" href="#">TECH<br>BLOG</a>
                </div>
                <!-- right nav -->
                {{#if logged_in}}
                <div id="loggedIn">
                    <a id="dashBtn" class="nes-btn" href="#">DASHBOARD</a>
                    <a id="logoutBtn" class="nes-btn" href="#">LOGOUT</a>
                </div>
                {{else}}
                <div id="loggedOut">
                    <a id="loginBtn" class="nes-btn" href="#">Login</a>
                    <a id="signupBtn" class="nes-btn" href="#">SIGN UP</a>
                </div>
                {{/if}}
            </div>
        </div>
    </nav>

    <div id="directory" class="d-flex justify-content-center mt-3">
        <div class="cont-nav">
            <div aria-label="breadcrumb">
                <ol class="breadcrumb">

                    {{#if on_homepage}}
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    {{else}}
                    {{#each view.breadcrumbElements}}
                    <li class="breadcrumb-item active" aria-current="page" {{action lastObject href=true}}>
                        {{firstObject}}</li>
                    {{/each}}
                    {{/if}}
                </ol>
            </div>
        </div>
    </div>

    <main class="container container-fluid mt-5">
        <!-- Render the partials -->
        {{{ body }}}
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="assets/script.js"></script>

    <script src="/js/homepage.js"></script>
</body>

</html>